---
import { getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'

const posts = (await getCollection('posts')).filter((post) => !post.data.draft).sort((a, b) => b.data.createdDate.valueOf() - a.data.createdDate.valueOf())
---

<BaseLayout title="Today I Learned;">
  <div class="flex justify-center px-4">
    <div class="w-full max-w-sm py-32 md:max-w-2xl">
      <h1 class="mb-16 text-2xl font-bold md:text-3xl">Today I Learned;</h1>
      <div class="space-y-10">
        {
          posts.map((post) => (
            <div>
              <div class="flex space-x-2 text-xs tracking-wider text-muted-foreground md:text-sm">
                <p>
                  <time datetime={post.data.createdDate.toISOString()}>
                    {post.data.createdDate.toLocaleDateString('en-us', {
                      year: 'numeric',
                      month: 'short',
                      day: 'numeric',
                    })}
                  </time>
                </p>
                <span>&middot;</span>
                {post.data.tags.map((tag) => (
                  <a href={`/tags/${tag}`}>{`#${tag}`}</a>
                ))}
              </div>
              <a href={`/posts/${post.slug}`}>
                <h2 class="mt-2 text-lg font-bold hover:underline" transition:name={`post-${post.slug}`}>
                  {post.data.title}
                </h2>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
